<div class="row mt-5 ms-5 me-5">
  <div class="col">
    <div class="p-3 fs-2 text-center">
      Personas
    </div>
    <div class="mt-2 table-responsive">
      <table class="table table-hover table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons">
            <th scope="row">
              {{ person.name }}
            </th>
            <td>
              {{ person.age }}
            </td>
            <td>
              {{ person.gender }}
            </td>
            <td>
              <span *ngIf="person.doc == null; else enlace">Sin enlace</span>
              <ng-template #enlace>
                <a href="#" >Documento</a>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
